/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.result{
		padding: 0;
	}
	.res-cont.sec{
		padding-left: 2rem;
	}
	.com{
		font-size: 1rem;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.res-cont.sec {
    	padding-left: 0;
	}
	.result{
		/*justify-content: center;*/
	}
	.res-cont.first{
		margin-bottom: 0;
	}
	.row.skills{
		justify-content: center;
	}
	.logo {
    	width: 25%;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.section{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.telegram{
		-ms-align-items: flex-start;
		align-items: flex-start;
	}
	.portfolio-name{
		justify-content: center;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		margin-bottom: 2rem;
	}
	.prof{
		font-weight: bold;
	}
	.city{
		aic
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.result{
		/*-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;*/
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		margin-bottom: 3rem;
	}
	.city{
		-ms-align-items: center;
		align-items: center;
	}
	.main-container.professional{
		margin-left: 0;
	}
	.name{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
	.main-container{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 576px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  
}