.logo img {
	width: 100%;
}
.logo{
	width: 20%;
}
.name{
	text-transform: uppercase;
	letter-spacing: 0;
}
.name p{
	font-weight: bold;
	font-size: 1.8rem;
}
.header{
	font-family: 'Montserrat', sans-serif;
}
.main-container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.main-container.professional{
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	margin-left: 2rem;
}
.prof{
	font-size: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 0.1875rem;
	font-weight: 500;
	/*color: #fff;*/
}
.padding{
	padding: 5rem 0;
	/*padding-bottom: 0;*/
	width: 100%;
}
.city{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: flex-end;
	align-items: flex-end;
	text-transform: uppercase;
	font-weight: 500;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.main-container.right{
	height: 100%;
}
.headings{
	font-size: 1.3rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1875rem;
}
.my-bio{
	/*font-weight: lighter;*/
	color: #858689;
	letter-spacing: 0.125rem;
	line-height: 1.8rem;
}
.telegram a {
	color: #707070;
	transition: 400ms;
	text-decoration: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.telegram a:hover {
	color: #515151;
}
.phone{
	color: #707070;
	transition: 400ms;
	/*text-decoration: none;*/
	cursor: pointer;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;

}
.telegram-cont{
	justify-content: space-between;
}
.phone:hover {
	color: #515151;
}
.link-tg{
	padding-left: 1.5rem;
}
.link-tg:hover{
	text-decoration: underline;
}
.telegram{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	/*justify-content: center;*/
	height: 100%;
	-ms-align-items: flex-end;
	align-items: flex-end;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.bio-section img {
	width: 100%;
	padding: 0 15px;
}
.bio-section{
	font-family: 'Montserrat', sans-serif;
}
.section{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	/*margin-bottom: 1.3rem;*/
}
.text{
	position: relative;
	height: 15rem;
	margin-bottom: 2.2rem;
}
.text img {
	position: absolute;
	height: 70%;
	width: 2.3rem;
	left: -0.8rem;
	top: 3.4rem;
	bottom: 0;
	z-index: -1;
}
.education p {
	/*text-transform: uppercase;*/
	letter-spacing: 0.125rem;
}
.education{
	padding-left: 2rem;
}
.educ-name{
	font-size: 1.1rem;
	text-transform: uppercase;
	font-size: 0.85rem;
	font-weight: 700;
}
.com{
	font-size: 0.85rem;
}
.result{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	padding-right: 2.5rem;
	margin-bottom: .8rem;
}
.result img {
	padding: 0;
	height: .8rem;
    width: 16rem;
}
.result p {
	margin-bottom: 0;
}
.res-cont{
	margin-bottom: 2.5rem;
	/*padding-left: 10.9375rem;*/
}
/*.res-cont.sec{
	padding-left: 10.9375rem;
}*/
.pic img {
	padding: 0;
	border-radius: 0.125rem;
}
.port-cont:hover img {
	transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2); 
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
}
.port-cont img {
	transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.pic{
	overflow: hidden;
	margin-bottom: 1rem;
}
.port-cont img {
	width: 100%;
	height: auto;
}
.port-cont a {
	color: inherit;
	font-weight: 600;
	font-size: 1.4rem;
}
.port-cont a:hover{
	color: #3333ff;
}
.parallax-window {
    min-height: 17.75rem;
    background: transparent;
}
.parallax-window.second{
    min-height: 25rem;
    background: transparent;
}
.padding.second{
	padding-top: 0;
}
.padding.first{
	padding-bottom: 0;
}
.fa-whatsapp{
	font-size: 1.4rem !important;
}